@CHARSET "ISO-8859-1";
#feature-sections{
    position: absolute;
    top:100px;
    left:50px;
    width:520px;
    
}
.divSectionImage{
float:left;
height:80px;
width:80px;
margin-top:10px;
margin-left:10px;
}

.imgSection {
height:50px;
width:80px;
border: 3px solid #fff;
}
